<h2>New Buddy</h2>
  <form data-ng-submit="addBuddy()">
    <div>
      <input type="text" data-ng-model="username" placeholder="Username">
      <input type="text" data-ng-model="first_name" placeholder="First name">
      <input type="text" data-ng-model="last_name" placeholder="Last name">
      <input type="text" data-ng-model="img_url" placeholder="Profile image">
      <input type="text" data-ng-model="email" placeholder="Email">
    </div>
    <div>
      <input type="text" data-ng-model="street_address" placeholder="Street address">
      <input type="text" data-ng-model="city" placeholder="City">
      <input type="text" data-ng-model="state" placeholder="State">
      <input type="text" data-ng-model="zip" placeholder="ZIP">
    </div>
    <div>
      <input type="text" data-ng-model="bench" placeholder="Bench press">
      <input type="text" data-ng-model="squat" placeholder="Back squat">
      <input type="text" data-ng-model="deadlift" placeholder="Deadlift">
    </div>

    <button data-ng-click="vm.addBuddy()">Add Buddy</button>
  </form>
